<div>
  <div *ngIf="isLoading" class="loading-container">
    <div>
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>
  <div *ngIf="!isLoading" class="container">
    <div class="currency-container">
      <h2>Currency</h2>
      <div class="currency">
        <img src="assets/fp.png" />
        <span>{{ inventory.freemium }}</span>
      </div>
      <div class="currency">
        <img src="assets/rp.png" />
        <span>{{ inventory.premium }}</span>
      </div>
    </div>
    <div class="skins-wrapper">
      <h2>Skins</h2>
      <div class="skins-container">
        <div
          *ngFor="let item of products"
          class="skin-container mat-elevation-z8"
        >
          <div class="skin-header">
            <p class="skin-title">{{ item.name }}</p>
          </div>
          <div class="skin-image-container">
            <img class="skin-image" mat-card-image [src]="item.image" />
          </div>
          <div class="skin-description">
            <p>
              {{ item.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
