<mat-toolbar color="primary">
    <div class="clickable"><span>{{title}}</span></div>
    <span class="navigation-spacer"></span>
    <button mat-button routerLink="/home">Home / Customers</button>
    <button mat-button (click)="openCustomerPortalLazy()">Lazy Stripe Client Panel</button>
    <button mat-button (click)="openCustomerPortalApi()">API Stripe Client Panel</button>
    <button mat-button routerLink="/add-stripe-product">Add Stripe Product</button>
    <button mat-button routerLink="/stripe-products">Stripe Products</button>
    <button mat-button routerLink="/stripe-product-table">Stripe Products Table</button>
    <button mat-button routerLink="/user-inventory">User inventory</button>
    <!-- <button mat-button routerLink="/first-component"></button> -->
</mat-toolbar>

<div class="outlet">
    <router-outlet></router-outlet>
</div>