.container {
  width: 405px;
  height: 441px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 5px 5px 0px 5px;
}

.title {
  font-size: large;
}

.subtitle {
  margin-bottom: 0;
}

.image-container {
  width: 405px;
  height: 239px;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.description {
  padding: 5px;
  text-overflow: ellipsis;
}

.buttons {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.action-button {
  width: 77px;
}

.prices {
  padding: 5px;
  display: flex;
  gap: 5px;
}

.price-button {
  min-width: 67px;
  height: 27px;
  cursor: default;
}

